
<div class="modal-header" align="center">
	<h4 class="modal-title">Your email address is already registered
		with us.</h4>
	<h5 class="modal-title">Click Ok to Login</h5>
	<h5 class="modal-title">Click Retry to Sign Up with different
		email address.</h5>
	<br>
	<button class="ui primary button SingInSignUpButton"
		ng-click="loginPage()">
		<i class=" thumbs up icon"></i> OK
	</button>
	&nbsp;
	<button class="ui primary button SingInSignUpButton"
		ng-click="showSignUp('sm')">
		<i class="reply icon"></i> Retry
	</button>
</div>